@model LoginViewModel
@{
    Layout = null;
}
<title>SM-AMS</title>
<link href="~/css/login.css" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<div class="wrapper">
    <div class="container">
        <div class="col-left">
            <div class="login-text">
                <h2>SM-AMS</h2>
                <p>
                    SM-AMS is An attendance management system is a software solution that automates the process of tracking employee attendance, leaves, and absences. It helps organizations monitor attendance trends, generate reports, and ensure compliance with labor laws and policies. It also calculates employee salaries accurately based on attendance records, leading to increased productivity and reduced errors.
                </p>
            </div>
        </div>
        <div class="col-right">
            <div class="login-form">
                <h2>Login</h2>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        @Html.LabelFor(m => m.BranchID,"Branch", new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.BranchID, (SelectList)ViewBag.BranchesList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BranchID, "", new { @class = "text-danger" })
                    </p>
                    <p>
                        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </p>
                    <p>
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <button type="submit" class="btn-login">Login</button>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <a class="mt-15px" href="">Forget password?</a>
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>